@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Font-family
$font-family: 'Encode Sans', sans-serif;

// colors
$white: #ffffff;
$gray: #b1aeae;
$black: #1b1b1b;