* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}
