@import "../../styles/variables.scss";

.container {
    background: $light;
    position: relative;
    z-index: 10;
    margin: 0 auto;
}

.locations {
    width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &.page {
        padding-top: calc(100px + #{$header-height});
    }

    &_content {
        margin: 0 1.5rem;
        width: 1000px;
        display: flex;
        flex-direction: column;

        &_title {
            color: $dark;
            font-size: 2rem;
            letter-spacing: $letter-spacing;
            font-weight: 900;
            position: relative;
            margin-bottom: $spacing-xl;

            &::after {
                content: "";
                position: absolute;
                display: inline;
                top: 20px;
                right: 0;
                width: 20%;
                height: 2px;
                background: $aqua;
            }
        }

        &_gallery {
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: 275px;
            gap: $spacing-md;
            margin-bottom: $spacing-xl;

            @media (min-width: 600px) {
                grid-template-columns: repeat(2, 1fr);
                grid-auto-rows: 250px;
            }

            @media (min-width: 1024px) {
                grid-template-columns: repeat(3, 1fr);
            }

            .gallery_item {
                cursor: pointer;
                position: relative;
                border-radius: $border-radius;
                border: 2px solid $white;
                transition: 0.3s ease all;
                box-shadow: $boxShadow;

                &:hover {
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.2),
                        0 3px 3px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.05);

                    .overlay {
                        background: transparent;
                    }
                }

                &_img {
                    border-top-left-radius: $border-radius;
                    border-top-right-radius: $border-radius;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 75%;
                    object-fit: cover;
                }
                .overlay {
                    border-top-left-radius: $border-radius;
                    border-top-right-radius: $border-radius;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 75%;
                    background: rgba($dark, 0.4);
                    transition: 0.3s ease all;
                }
                &_content {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 25%;
                    background: $white;
                    border-bottom-left-radius: $border-radius;
                    border-bottom-right-radius: $border-radius;

                    svg {
                        color: $aqua;
                        font-size: 1.1rem;
                    }

                    &_location {
                        margin-left: 6px;
                        font-size: 1.2rem;
                        color: $dark;
                        letter-spacing: $letter-spacing;
                    }
                }

                &_tag {
                    position: absolute;
                    background: $white;
                    top: -12px;
                    left: $spacing-sm;
                    padding: 6px 8px;
                    border-radius: $border-radius;
                    font-size: 0.8rem;
                    letter-spacing: $letter-spacing;
                }
            }
        }

        &_viewmore {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                letter-spacing: $letter-spacing;
                padding: $spacing-sm $spacing-md;
                text-decoration: none;
                border-radius: $border-radius;
                color: $dark;
                transition: 0.3s ease all;
                display: flex;
                align-items: center;
                font-size: 1.1rem;

                svg {
                    font-size: 1.2rem;
                    margin-left: $spacing-sm;
                    padding-top: 2px;
                }

                &:hover {
                    background: rgba($dark, 0.05);
                }
            }
        }
    }
}
