@import "../../styles/variables.scss";

.container {
    position: relative;
    z-index: 10;
    margin: 0 auto;
    background: $light;
}

.locations {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6.25rem 0;

    &.page {
        padding-top: calc(6.25rem + #{$header-height});
    }

    &_content {
        width: 1000px;
        display: flex;
        flex-direction: column;
        margin: 0 1.5rem;

        &_title {
            font-size: 2rem;
            font-weight: 900;
            color: $dark;
            position: relative;
            letter-spacing: $letter-spacing;
            margin-bottom: $spacing-xl;

            &::after {
                content: "";
                width: calc(100% - 265px);
                height: 2px;
                display: inline;
                top: 15px;
                right: 0;
                position: absolute;
                background: $aqua;
            }
        }

        &_gallery {
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: 275px;
            gap: $spacing-md;
            margin-bottom: $spacing-xl;

            @media (min-width: 1024px) {
                grid-template-columns: repeat(3, 1fr);
            }

            @media (min-width: 600px) {
                grid-template-columns: repeat(2, 1fr);
                grid-auto-rows: 250px;
            }

            .gallery_item {
                position: relative;
                box-shadow: $box-shadow;
                border: 2px solid $aqua;
                border-radius: $border-radius;
                transition: 0.3s;

                &:hover {
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.2),
                        0 3px 3px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.05);

                    .overlay {
                        background: transparent;
                    }
                }

                &_img {
                    width: 100%;
                    height: 75%;
                    top: 0;
                    left: 0;
                    position: absolute;
                    border-top-left-radius: $border-radius;
                    border-top-right-radius: $border-radius;
                    object-fit: cover;
                }

                .overlay {
                    width: 100%;
                    height: 75%;
                    top: 0;
                    left: 0;
                    position: absolute;
                    background: rgba($dark, 0.4);
                    border-top-left-radius: $border-radius;
                    border-top-right-radius: $border-radius;
                    transition: 0.3s;
                }

                &_content {
                    width: 100%;
                    height: 25%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: $white;
                    border-bottom-left-radius: $border-radius;
                    border-bottom-right-radius: $border-radius;

                    &_icon {
                        font-size: 1.1rem;
                        color: $aqua;
                    }

                    &_location {
                        font-size: 1.2rem;
                        color: $dark;
                        margin-left: 5px;
                        letter-spacing: $letter-spacing;
                    }
                }

                &_tag {
                    font-size: 0.8rem;
                    top: -12px;
                    left: $spacing-sm;
                    position: absolute;
                    padding: 6px 8px;
                    border-radius: $border-radius;
                    letter-spacing: $letter-spacing;
                }
            }
        }

        &_viewmore {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                display: flex;
                align-items: center;
                font-size: 1.1rem;
                color: $dark;
                padding: $spacing-sm $spacing-md;
                border-radius: $border-radius;
                letter-spacing: $letter-spacing;
                transition: 0.3s;

                &_icon {
                    font-size: 1.2rem;
                    padding-top: 2px;
                    margin-left: $spacing-sm;
                }

                &:hover {
                    background: rgba($dark, 0.5);
                }
            }
        }
    }
}
