@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

:root {
    --Softred: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Darkdesaturatedcyan: hsl(167, 40%, 24%);
    --Darkblue: hsl(198, 62%, 26%);
    --Darkmoderatecyan: hsl(168, 34%, 41%);
    --Verydarkdesaturatedblue: hsl(212, 27%, 19%);
    --Verydarkgrayishblue: hsl(213, 9%, 39%);
    --Darkgrayishblue: hsl(232, 10%, 55%);
    --Grayishblue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
    --title: 'Fraunces', serif;
    --body: 'Barlow', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

img {
    max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--title);
}

body {
    font-size: 1.8rem;
    overflow-x: hidden;
}

/* Header, Nav, Menu, Hero */

nav {
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1000;
    padding: 2rem 2.5rem;
    transition: 0.5s;
}

nav ul {
    display: flex;
    align-items: center;
    position: relative;
}

nav ul li a {
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    font-family: var(--body);
    font-size: 1rem;
    color:  var(--White);
}

nav ul li a.link-contact {
    background: var(--White);
    color: var(--Verydarkdesaturatedblue);
    padding: 1rem 1.5rem;
    margin-left: 1.5rem;
    border-radius: 2rem;
    font-size: 1rem;
    font-family: var(--title);
    text-transform: uppercase;
    transition: 0.5s;
}

nav ul li a.link-contact:hover {
    background: hsla(0, 0%, 100%, 0.3);
    color: var(--White);
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../images/desktop/image-header.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero h1 {
    color: var(--White);
    text-transform: uppercase;
    letter-spacing: .3rem;
    margin-bottom: 2.5rem;
}

/* About */
.about-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text-box {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 0 5rem;
}

.text-box h2 {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--Verydarkdesaturatedblue);
    padding-bottom: 1.5rem;
}

.text-box p {
    font-family: var(--body);
    font-size: 1rem;
    color: var(--Darkgrayishblue);
    padding-bottom: 1.5rem;
}

.text-box.graphic {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20rem;
    background: url('../images/desktop/image-graphic-design.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.text-box.graphic h3 {
    font-weight: 900;
    color: var(--Verydarkdesaturatedblue);
}

.text-box.graphic p {
    color: var(--Verydarkdesaturatedblue);
}

.text-box.photography {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20rem;
    background: url('../images/desktop/image-photography.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.text-box.photography h3 {
    font-weight: 900;
    color: var(--Verydarkdesaturatedblue);
}

.text-box.photography p {
    color: var(--Verydarkdesaturatedblue);
}

.about-btn {
    font-family: var(--title);
    font-size: 1.2rem;
    font-weight: 900;
    color: var(--Verydarkdesaturatedblue);
    text-transform: uppercase;
}

.about-btn {
    font-family: var(--title);
    font-size: 1.2rem;
    font-weight: 900;
    color: var(--Verydarkdesaturatedblue);
    text-transform: uppercase;
}


.about-img {
    display: flex;
}

.about-img img {
    width: 100%;
}

.img2 {
    display: none;
}

.img4 {
    display: none;
}

/* Testimonials */
.testimonials {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.testimonials h4 {
    padding-top: 5rem;
    text-transform: uppercase;
    color: var(--Grayishblue);
    letter-spacing: 2px;
}

.testimonials-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    padding: 8rem 0;
}

.testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.testimonial img {
    width: 5rem;
    border-radius: 50%;
}

.testimonial p {
    font-family: var(--body);
    font-size: 1rem;
    color: var(--Verydarkgrayishblue);
    padding: 3.5rem 0;
}

.testimonial h5 {
    font-weight: 900;
}

.testimonial h6 {
    font-weight: 900;
    color: var(--Darkgrayishblue);
}

/* Gallery */
.gallery {
    width: 100%;
}

.gallery-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gallery-img {
    display: flex;
}

.gallery-img {
    width: 100%;
}

/* Footer */
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0;
    background: var(--Darkmoderatecyan);
}

.footer-logo {
    padding-bottom: 1.5rem;
}

.footer-menu a {
    font-family: var(--body);
    font-size: 1.2rem;
    color: var(--Darkdesaturatedcyan);
    padding: 0 1.3rem;
    transition: 0.5s;
}

.footer-menu a:hover {
    color: var(--White);
}

.social {
    padding-top: 2rem;
}

.social a {
    padding: 0 1.2rem;
}

/* Media Queries */
@media (max-width: 860px) {
    .menu {
        width: 100%;
        height: 100vh;
        top: -40rem;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 999;
        background: var(--White);
    }

    nav ul li a {
        font-size: 1.2rem;
        padding: 1rem;
        color: var(--Darkgrayishblue);
    }

    nav ul li a.link-contact {
        background: var(--Yellow);
        color: var(--Verydarkdesaturatedblue);
        padding: 1rem 1.5rem;
        border-radius: 2rem;
        font-size: 1rem;
        font-family: var(--title);
        text-transform: uppercase;
        transition: 0.5s;
    }
    
    nav ul li a.link-contact:hover {
        background: hsla(0, 0%, 100%, 0.3);
        color: var(--White);
    }

    .menu.active {
        top: 4.5rem;
    }

    .toggle .bar{
        width: 25px;
        height: 3px;
        background: var(--White);
        margin: 5px auto;
        transition: all 0.5s ease;
    }

    .toggle{
        top: 35px;
        right: 5%;
        position: absolute;
    }

    .toggle .bar{
        display: block;
        cursor: pointer;
    }

    .toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .hero {
        background: url('../images/mobile/image-header.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .about-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-box.graphic {
        width: 100%;
        height: 100vh;
        background: url('../images/mobile/image-graphic-design.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
    }
    
    .text-box.photography {
        width: 100%;
        height: 100vh;
        background: url('../images/mobile/image-photography.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
    }

    .text-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 3rem 1rem;
        text-align: center;
    }

    .text-box.graphic h3 {
        font-weight: 900;
        color: var(--Verydarkdesaturatedblue);
        padding-bottom: 2rem;
    }

    .text-box.photography h3 {
        font-weight: 900;
        color: var(--Verydarkdesaturatedblue);
        padding-bottom: 2rem;
    }

    .about-img {
        width: 100%;
    }

    .img1 {
        display: none;
    }

    .img2 {
        display: flex;
    }

    .img3 {
        display: none;
    }

    .img4 {
        display: flex;
    }

    .img5 {
        display: flex;
    }

    .img6 {
        display: none;
    }

    .img7 {
        display: flex;
    }

    .img8 {
        display: none;
    }

    .img9 {
        display: flex;
    }

    .img10 {
        display: none;
    }

    .img11 {
        display: flex;
    }

    .img12 {
        display: none;
    }

    .testimonials-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 8rem 0;
    }

    .testimonials h4 {
        text-align: center;
    }

    .gallery-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .img5 {
        display: none;
    }

    .img6 {
        width: 100%;
        display: flex;
    }

    .img7 {
        display: none;
    }

    .img8 {
        width: 100%;
        display: flex;
    }

    .img9 {
        width: 100%;
        display: none;
    }

    .img10 {
        width: 100%;
        display: flex;
    }

    .img11 {
        display: none;
    }

    .img12 {
        width: 100%;
        display: flex;
    }
}

@media (max-width: 600px) {
    .hero h1 {
        font-size: 2rem;
        color: var(--White);
        text-transform: uppercase;
        letter-spacing: .3rem;
        margin-bottom: 2.5rem;
        text-align: center;
    }
}

@media (max-width: 360px) {
    .footer-menu a {
        font-size: 1rem;
        padding: 0 1rem;
    }
}