@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

:root {
    --Softred: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Darkdesaturatedcyan: hsl(167, 40%, 24%);
    --Darkblue: hsl(198, 62%, 26%);
    --Darkmoderatecyan: hsl(168, 34%, 41%);
    --Verydarkdesaturatedblue: hsl(212, 27%, 19%);
    --Verydarkgrayishblue: hsl(213, 9%, 39%);
    --Darkgrayishblue: hsl(232, 10%, 55%);
    --Grayishblue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
    --title: 'Fraunces', serif;
    --body: 'Barlow', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

img {
    max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--title);
}

body {
    font-size: 1.8rem;
    overflow-x: hidden;
}

/* Header, Nav, Menu, Hero */

nav {
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 2rem 2.5rem;
    transition: 0.5s;
}

nav ul {
    display: flex;
    align-items: center;
    position: relative;
}

nav ul li a {
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    font-family: var(--body);
    font-size: 1rem;
    color:  var(--White);
}

nav ul li a.link-contact {
    background: var(--White);
    color: var(--Verydarkdesaturatedblue);
    padding: 1rem 1.5rem;
    margin-left: 1.5rem;
    border-radius: 2rem;
    font-size: 1rem;
    font-family: var(--title);
    text-transform: uppercase;
    transition: 0.5s;
}

nav ul li a.link-contact:hover {
    background: hsla(0, 0%, 100%, 0.3);
    color: var(--White);
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../images/desktop/image-header.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero h1 {
    color: var(--White);
    text-transform: uppercase;
    letter-spacing: .3rem;
    margin-bottom: 2.5rem;
}

/* About */
.about-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text-box {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 0 5rem;
}

.text-box h2 {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--Verydarkdesaturatedblue);
    padding-bottom: 1.5rem;
}

.text-box p {
    font-family: var(--body);
    font-size: 1rem;
    color: var(--Darkgrayishblue);
    padding-bottom: 1.5rem;
}

.text-box.graphic {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20rem;
    background: url('../images/desktop/image-graphic-design.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.text-box.graphic h3 {
    font-weight: 900;
    color: var(--Verydarkdesaturatedblue);
}

.text-box.graphic p {
    color: var(--Verydarkdesaturatedblue);
}

.text-box.photography {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20rem;
    background: url('../images/desktop/image-photography.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.text-box.photography h3 {
    font-weight: 900;
    color: var(--Verydarkdesaturatedblue);
}

.text-box.photography p {
    color: var(--Verydarkdesaturatedblue);
}

.about-btn {
    font-family: var(--title);
    font-size: 1.2rem;
    font-weight: 900;
    color: var(--Verydarkdesaturatedblue);
    text-transform: uppercase;
}

.about-btn {
    font-family: var(--title);
    font-size: 1.2rem;
    font-weight: 900;
    color: var(--Verydarkdesaturatedblue);
    text-transform: uppercase;
}


.about-img {
    display: flex;
}

.about-img img {
    width: 100%;
}