@import "../mixins";
@import "../variables";

.btn {
    padding: 0.5rem 1.25rem;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
}

.btn-primary {
    background: $secondary;
    color: $secondary;
    border: 1px solid $secondary;
}

.btn-outline {
    background: transparent;
    color: $secondary;
    padding: 0.5rem 1.25rem;
    border: 1px solid $secondary;
    transition: 0.3s;
}

.btn-medium {
    padding: 0.5rem 1.25rem;
    font-size: 1.125rem;

    &:hover {
        background: $secondary;
        color: $black;
        transition: 0.3s;
    }
}

.btn-large {
    padding: 0.75rem 1.563rem;
    font-size: 1.25rem;

    &:hover {
        background: $secondary;
        color: $black;
        transition: 0.3s;
    }
}

.btn-mobile {
    width: 80%;
    padding: 0.938rem 1.25rem;
    background: transparent;
    color: $secondary;
    font-size: 1.563rem;
    border: 1px solid $secondary;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;

    &:hover {
        background: $secondary;
        color: $black;
        transition: 0.3s;
    }
}

.btn-wide {
    padding: 0.75rem 4rem;
    font-size: 1.25rem;

    &:hover {
        background: $main;
        color: $secondary;
        transition: 0.3s;
    }
}

.btn-link {
    @include justify-center;
    width: 100%;
    height: 100%;
    padding: 0.625rem 0.938rem;
}

.primary {
    background: $main;
    color: $secondary;

    &:hover {
        background: $secondary;
        color: $black;
    }
}

.blue {
    background: $blue;
    color: $secondary;
}

.purple {
    background: $purple;
    color: $secondary;
}

.orange {
    background: $orange;
    color: $secondary;
}

.black {
    background: $black;
    color: $secondary;
}
