@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;600;700;800&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}

:root {
    --white: #ffffff;
    --black: #000000;
    --winter: #dab8b8;
    --gray: #4e4b4b;
    --text: #636060;
    --blue: #11b3cf;
    --bluedark: #0e7ab9;
    --blueblack: #020420;
    --main: 'Pacifico', cursive;
    --title: 'Fraunces', serif;
    --body: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-family: var(--body);
}

img {
    max-width: 100%;
}

/* Navbar */
nav {
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 1rem 2rem;
    z-index: 1;
    color: var(--white);
}

.logo {
    display: flex;
    align-items: center;
    font-family: var(--main);
    font-size: 2rem;
    cursor: pointer;
}

.logo img {
    width: 3.5rem;
}

.nav-links {
    display: flex;
    align-items: center;
    color: var(--white);
}

.nav-links li a {
    color: var(--white);
    padding: 0 1rem;
    transition: 0.5s ease-out;
}

.nav-links li a:hover {
    letter-spacing: 1px;
}

.btn {
    padding: 1rem;
    background: var(--bluedark);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--white);
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.5s ease-out;
}

.btn:hover {
    background: var(--blueblack);
}

/* Header */
header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(1, 8, 37, 0.7), rgba(1, 8, 37, 0.7)), url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.snow {
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    place-items: center;
    background: url('../images/snow-img/1.png'), url('../images/snow-img/2.png'), url('../images/snow-img/3.png');
    animation: snow 20s linear infinite;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--main);
    font-size: 2rem;
    font-weight: 90;
    color: var(--winter);
    text-align: center;
}

.btn-header {
    position: absolute;
    animation: arrow 3.5s infinite;
}

.btn-header img {
    width: 5rem;
}

/* Animations */
@keyframes arrow {
    0% {
        bottom: 0%;
    }

    50% {
        bottom: 20%;
    }

    100% {
        bottom: 0%;
    }
}

@keyframes snow {
    0% {
        background-position: 0 0, 0 0, 0 0;
    }

    100% {
        background-position: 50rem 100rem, 40rem, 40rem, 30rem, 30rem;
    }
}

/* Coming Soon */
.soon {
    width: 80%;
    margin: 5rem auto;
}

.title {
    font-size: 1.5rem;
    font-family: var(--title);
    color: var(--gray);
    text-align: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.soon .container {
    margin-top: 2rem;
}

.container .content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content {
    margin: 0 1rem;
}

.content img {
    width: 100%;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.5s ease-out;
}

.content h3 {
    padding: 0.8rem 0;
    font-family: var(--title);
    font-weight: 900;
    color: var(--gray);
}

.content p {
    padding-bottom: 1rem;
    font-size: 1rem;
    color: var(--text);
    text-align: center;
}

.line {
    width: 15rem;
    height: 0.4rem;
    background: var(--blue);
    margin: 1rem auto;
    border-radius: 0.5rem;
}

.content .btn {
    text-transform: capitalize;
}

/* Reservation */
.sr-only {
    width: 1px;
    height: 1px;
    position: absolute;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.reservation {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/reservation.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.reservation img {
    width: 2rem;
}

.reception {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5rem;
}

.reception h2 {
    padding-left: 0.5rem;
    font-family: var(--title);
    font-weight: 900;
    font-size: 3rem;
    color: var(--white);
    text-align: center;
}

.reservation-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 5rem;
}

.btn img {
    width: 1rem;
}

.reservation-form .btn{
    padding: 1rem 1.5rem;
    border: none;
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem 1rem;
}

.field img {
    width: 3rem;
}

.field h3 {
    font-weight: 300;
    text-transform: uppercase;
    color: var(--white);
    padding: 1rem 0;
}

.field input[type=date], select, input[type=text] {
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    box-sizing: border-box;
}

.field input[type=text] {
    text-align: center;
}

/* About */
.about .container {
    margin: 5rem 0;
}

.about-content {
    width: 50%;
    margin: 0 1rem;
}

.about-content h2 {
    font-family: var(--title);
    font-size: 3rem;
    color: var(--gray);
}

.about-content p {
    color: var(--text);
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.about-content .btn {
    text-transform: capitalize;
}

.img-content {
    width: 50%;
}

.about .about-imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.about-imgs img {
    max-width: 18.75rem;
}

/* Gallery */
.gallery {
    width: 100%;
}

.box-1 {
    height: 100vh;
    background: url('../images/img-7.jpg');
    background-size: cover;
    background-position:  center;
    background-attachment: fixed;
    position: relative;
    border-top: 0.5rem solid var(--blueblack);
    border-bottom: 0.5rem solid var(--blueblack);
}

.box-2 {
    height: 100vh;
    background: url('../images/img-8.jpg');
    background-size: cover;
    background-position:  center;
    background-attachment: fixed;
    position: relative;
    border-bottom: 0.5rem solid var(--blueblack);
}

.box-3 {
    height: 100vh;
    background: url('../images/img-9.jpg');
    background-size: cover;
    background-position:  center;
    background-attachment: fixed;
    position: relative;
    border-bottom: 0.5rem solid var(--blueblack);
}

.box-4 {
    height: 100vh;
    background: url('../images/img-10.jpg');
    background-size: cover;
    background-position:  center;
    background-attachment: fixed;
    position: relative;
    border-bottom: 0.5rem solid var(--blueblack);
}

.box-5 {
    height: 100vh;
    background: url('../images/img-11.jpg');
    background-size: cover;
    background-position:  center;
    background-attachment: fixed;
    position: relative;
    border-bottom: 0.5rem solid var(--blueblack);
}

.info {
    width: 100%;
    top: 45%;
    left: 0;
    position: absolute;
    text-align: center;
}

.box-title {
    font-family: var(--main);
    color: var(--winter);
    font-size: 2rem;
    background: linear-gradient(rgba(2, 10, 41, 0.8), rgba(2, 10, 41, 0.8));
    padding: 2rem 0;
}

/* Services */
.services {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem auto;
}

.services-title {
    margin: 2rem 0;
    text-align: center;
}

.services-title h2 {
    font-family: var(--title);
    font-size: 3rem;
    font-weight: 900;
    color: var(--gray);
    padding-bottom: 1rem;
}

.services-title p {
    color: var(--text);
    font-size: 1rem;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, auto));
    grid-gap: 1.5rem;
    margin-bottom: 1rem;
}

.services-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 2rem;
    border-bottom: 0.25rem solid var(--bluedark);
    border-radius: 0.25rem 0.25rem 0 0;
    text-align: center;
}

.services-content h3 {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.services-content p {
    font-size: 1rem;
    color: var(--title);
    padding: 1rem 0;
}

.services-content img {
    width: 8rem;
    padding-bottom: 1rem;
}




























/* Media Queries */
@media (max-width: 860px) {
    nav {
        padding: 0;
    }

    .logo {
        top: 18px;
        left: 30px;
        position: absolute;
    }

    .nav-links {
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: -100rem;
        padding-top: 5rem;
        background: var(--blueblack);
        transition: 0.5s ease-out;
    }

    .nav-links.active {
        margin-top: 0;
    }

    .nav-links li {
        margin: 1.5rem auto;
    }

    .toggle .bar{
        width: 25px;
        height: 3px;
        background: var(--white);
        margin: 5px auto;
        transition: all 0.5s ease;
    }

    .toggle{
        top: 35px;
        right: 5%;
        position: absolute;
    }

    .toggle .bar{
        display: block;
        cursor: pointer;
    }

    .toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media (max-width: 660px) {
    .header-content {
        font-size: 1.5rem;
    }
}

@media (max-width: 360px) {
    .logo {
        font-size: 1.5rem;
    }
}