* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

html {
  font-family: var(--body-font);
  font-size: 1rem;
  font-weight: 400;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.layout {
  background: var(--body-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
    margin: 0 auto;
  }
}

.grid {
  display: grid;
  gap: 2rem;
}

.title {
  font-family: var(--title-font);
  font-size: var(--title-font-size);
  font-weight: 700;
  color: #0c0c0c;
}

main {
  margin-top: var(--header-height);
}

.section {
  padding: calc(5rem + var(--header-height)) 0;
}

@media (min-width: 1200px) {
  .section {
    padding: 10rem 0;
  }
}

.swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
}

.swiper-pagination-bullet-active {
  background-color: var(--base-color);
}
