@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

p {
    font-family: 'Alata', sans-serif;
    font-size: 15px;
}