@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

button {
    background: transparent;
    font-family: 'Alata', sans-serif;
    color: $white;
    border: 0;
}