@mixin space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin align-center {
    display: flex;
    align-items: center;
}

@mixin justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
}