@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');

:root {
    --black: #000000;
    --white: #ffffff;
    --hover: #ccc;
    --main: #00ed82;
    --button: #333;
    --live: #151515;
    --footer: #ebedf2;
    --footer-text: #333;
    --border-top: #eee;
    --modal-btn: rgb(58, 122, 173);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-family: 'Rubik', sans-serif;
}

body {
    background: var(--black);
    color: var(--white);
    line-height: 1.7;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

/* Header */
header {
    height: 33.125rem;
    background: url(../images/header.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

header nav {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 2;
    padding: 0.125rem 0.25rem;
}

header nav .btn-login {
    background: none;
    color: var(--white);
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    cursor: pointer;
}

header .logo {
    width: 16.875rem;
    margin: 1.25rem 0;
}

header .header-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 1.875rem;
}

header .title {
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
}

header .subtitle {
    font-size: 1.125rem;
    margin: 1.563rem 0;
}

header::after {
    content: '';
    width: 100%;
    height: 11.25rem;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.76) 15.54%,rgba(0, 0, 0, 0.192) 60.23%, rgba(0, 0, 0, 8e-5) 100%);
}

a {
    color: var(--white);
    transition: 0.5s;
}

a:hover {
    color: var(--hover);
}

h3 {
    font-size: 1.563rem;
    font-weight: 300;
}

h4 {
    font-size: 0.938rem;
    color: var(--main);
    text-transform: uppercase;
}

.btn {
    min-width: 8.438rem;
    display: inline-block;
    padding: 1.25rem 1.875rem;
    background: var(--white);
    font-size: 0.938rem;
    font-weight: 600;
    color: var(--button);
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    line-height: 0.938rem;
    cursor: pointer;
    transition: 0.5s;
}

.btn-signup:hover {
    opacity: 0.8;
}

.trial-text {
    font-size: 0.625rem;
    color: var(--hover);
    margin-top: 1.25rem;
}

/* Bundle */
.bundle {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    gap: 2.5rem;
    align-items: center;
    background: linear-gradient(318.68deg, #0f495c 0%, #0d3640 49.72%, #08141f 100%);
    padding: 1.875rem 2.5rem;
}

.bundle > div:last-of-type {
    justify-self: end;
    align-self: end;
}

.bundle > div:last-of-type .link {
    text-align: center;
}

.btn-outline {
    background: none;
    color: var(--white);
    border: 2px solid var(--white);
    transition: 0.5s;
}

.btn-outline:hover {
    color: var(--white);
    border-color: var(--hover);
}

.link {
    display: block;
    margin-top: 0.313rem;
    font-size: 0.75rem;
    color: var(--hover);
    text-decoration: underline;
}

/* Categories */
.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5.625rem 2.5rem;
    text-align: center;
}

.categories .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
    margin-top: 2.5rem;
}

.categories .items > div {
    width: 18.75rem;
    height: 31.25rem;
    position: relative;
}

.categories .item-gradient {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(156.82deg, rgba(0, 0, 0, 0.6) 4.58%, rgba(0, 0, 0, 0) 69.61%), linear-gradient(24.5deg, rgba(0, 0, 0, 0.2) 4.71%, rgba(0, 0, 0, 0) 71.49%);
}

.categories .item-text {
    top: 1.25rem;
    left: 1.25rem;
    position: absolute;
    text-align: left;
}

.categories .item-1 {
    background: url(../images/cover-1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.categories .item-2 {
    background: url(../images/cover-2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.categories .item-3 {
    background: url(../images/cover-3.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.categories .item-4 {
    background: url(../images/cover-4.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.categories-title {
    font-size: 4.375rem;
    font-weight: 700;
}

.sub-text {
    max-width: 53.125rem;
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
}

/* Live */
.live {
    background: var(--live);
    padding: 2.5rem;
}

.live-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 6.25rem;
    border: 4px solid var(--main);
    border-radius: 15px;
    text-align: center;
}

.live a {
    font-size: 1.125rem;
    text-transform: uppercase;
    text-decoration: underline;
    margin-top: 1.25rem;
}

.live-text {
    font-size: 4.375rem;
    font-weight: 700;
}

/* Sports */
.sports {
    height: 50rem;
    position: relative;
    background: url(../images/live-sports.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.sports-content {
    max-width: 34.375rem;
    top: 10rem;
    left: 6.25rem;
    position: absolute;
}

.sports-text {
    font-size: 4.375rem;
    font-weight: 700;
}

.sports-logos {
    width: 18.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
}

.sports-logos > div {
    width: 3.75rem;
    height: 3.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: url(../images/network-logo-bg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.sports-logos img {
    width: 2.5rem;
}

/* Footer */
footer {
    background: var(--footer);
    color: var(--footer-text);
}

footer a {
    color: var(--footer-text);
}

.footer-content {
    max-width: 68.75rem;
    margin: auto;
    padding: 2.5rem;
}

.footer-items {
    display: flex;
    justify-content: space-between;
}

.footer-items .head {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0.313rem;
}

.divider {
    width: 100%;
    height: 3px;
    border-top: 1px solid var(--hover);
    margin: 1.875rem 0;
}

.social-icons img {
    width: 1.563rem;
    height: 1.563rem;
    margin-right: 1.563rem;
}

/* Modal */
.modal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
}

.modal-box {
    width: 25rem;
    bottom: 3rem;
    position: relative;
    background: var(--white);
    color: var(--button);
    margin: 10% auto;
    animation: open 1s;
}

@keyframes open {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal-body {
    padding: 3.125rem;
}

.modal-body h3 {
    font-weight: 700;
}

.modal-body .btn {
    width: 100%;
    margin-top: 1.875rem;
}

.modal .close {
    width: 1.438rem;
    height: 1.438rem;
    top: 1.25rem;
    right: 1.25rem;
    position: absolute;
    cursor: pointer;
}

.modal .modal-footer {
    background: var(--footer);
    color: var(--footer-text);
    border-top: 1px solid var(--border-top);
    padding: 1.25rem 0;
    text-align: center;
}

.forgot {
    color: var(--footer-text);
}

.modal .modal-footer a {
    color: var(--modal-btn);
}

.modal-login {
    background: var(--black);
    color: var(--white);
}

/* Modal Form */
.form-control {
    margin: 1.25rem 0;
}

.form-control label {
    display: block;
    text-transform: uppercase;
}

.form-control input {
    width: 100%;
    border: 2px solid var(--hover);
    border-radius: 5px;
    height: 3.125rem;
    padding: 0.313rem;
}

/* Media Queries */
@media (max-width: 1100px) {
    .categories .items {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    header .logo {
        width: 12.5rem;
    }

    header .header-content {
        padding: 0 1.25rem;
    }

    header .title {
        margin-bottom: 2.5rem;
    }

    header .subtitle {
        display: none;
    }

    .bundle {
        grid-template-columns: 1fr;
        gap: 1.25rem;
        text-align: center;
    }

    .bundle img {
        width: 15.625rem;
        margin: auto;
    }

    .bundle > div:last-of-type {
        justify-self: center;
        align-self: center;
    }

    .categories-title, .live-text, .sports-text {
        font-size: 2.5rem;
        line-height: 1.3;
    }

    .sub-text {
        font-size: 1.25rem;
    }

    .categories .items {
        grid-template-columns: 1fr;
    }

    .live-content {
        padding: 1.875rem 0.625rem;
    }

    .sports {
        background: url(../images/live-sports-small.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .sports-content {
        top: 1.875rem;
        left: 1.875rem;
        margin-top: 3.75rem;
    }

    .footer-items {
        flex-direction: column;
    }

    .modal .modal-box {
        width: 21.875rem;
    }

    .modal-box {
        width: 25rem;
        bottom: 0;
        position: relative;
        background: var(--white);
        color: var(--button);
        margin: 10% auto;
        animation: open 1s;
    }
}