.footer {
  background: var(--base-color);
  color: var(--body-color);
  padding: 5rem 0;
}

.logo {
  display: inline-block;
  font-family: var(--title-font);
  font-size: var(--title-font-size);
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.logo span {
  color: var(--body-color);
}

.brand p {
  margin-bottom: 0.75rem;
  line-height: 1.625rem;
}

.brand p:last-child {
  margin: 0;
}

.social {
  display: flex;
  gap: 2rem;
}

@media (min-width: 960px) {
  .footer {
    padding: 3.75rem 0;
  }

  .logo {
    font-size: 2.25rem;
  }
}
