@mixin container {
    max-width: 1140px;
    margin: 0 auto;
}

@mixin flex {
    display: flex;
}

@mixin align-center {
    display: flex;
    align-items: center;
}

@mixin space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}