@mixin container {
    max-width: 1140px;
    margin: 0 auto;
}

@mixin flex {
    display: flex;
}

@mixin align-center {
    display: flex;
    align-items: center;
}

@mixin space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin grid {
    display: grid;
}

@mixin padding {
    padding: 1.875rem 1.25rem;
    @media (min-width: 768px) {
        padding: 3.125rem 1.25rem;
    }
}

@mixin max {
    width: 100%;
    height: 100%;
}