/* Colors */
$primary-color: #00c033;
$secondary-color: #167ad8;
$btn: #02ad1e;
$btn-alt: #00a36d;
$white: #ffffff;
$grey: #555;
$black: #333;
$qualities: #109251;
$qualities-content: #00753b;
$qualities-hover: #008f47;
$project-hover: rgba(0, 173, 58, 0.705);
$testimonials: #eaedf1;
$clients: #d1d1d1;
$clients-card: #2e90ff;
$footer: #105da5;

/* Transition */
$transition: all 0.5s;