@import 'globals';
@import 'variables';
@import 'fonts';
@import 'mixins';

/* Header */
header {
    width: 100%;
    height: 5rem;
    position: fixed;
    z-index: 3;
    background: $white;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.3);

    .logo {
        font-size: $medium-font;
        font-weight: 700;
        text-transform: uppercase;
        color: $primary-color;

        span {
            color: $secondary-color;
        }
    }

    /* Navbar */
    nav {
        @include container;
        @include align-center;
        padding: 1.563rem 0.625rem;

        ul {
            display: none;
            flex: 1;
            justify-content: flex-end;
            @media (min-width: 991px) {
                display: flex;
            }

            a {
                font-size: $very-small-font;
                font-weight: 500;
                text-transform: uppercase;
                color: $grey;
                padding: 0 0.625rem;
                margin-left: 0.625rem;
            }
        }
    }
    /* Navbar end */
}
/* Header end */

/* Hero */

/* Buttons */
.btn {
    display: inline-block;
    padding: 0.875rem 2.5rem;
    background: $btn;
    color: $white;
    border-radius: 50px;
    border: 2px solid transparent;
    font-weight: 600;
    transition: $transition;
    cursor: pointer;

    &:hover {
        background: $btn-alt;
        border-color: $white;
    }
}

.btn-alt {
    background: transparent;
    border-color: $white;

    &:hover {
        background: $btn-alt;
        border-color: transparent;
    }
}
/* Buttons end */

.hero {
    @include center;
    background: url('../images/svg/hero.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 9.375rem 0;


    &-container {
        @include container;
        @include flex;
        flex-direction: column;
        align-items: center;
        gap: 1.875rem;
        padding: 0 1.875rem;
        @media (min-width: 768px) {
            flex-direction: row;
        }

        .left-content {
            @include center;
            flex-direction: column;
            flex: 1;
            order: 2;
            @media (min-width: 768px) {
                
            }

            h2 {
                font-size: $large-font;
                color: $white;
                text-align: center;
                margin-bottom: 1.875rem;
                @media (min-width: 768px) {
                    text-align: left;
                }
                
                span {
                    color: $primary-color;
                }
            }

            .buttons {
                @include align-center;
                flex-direction: column;
                @media (min-width: 768px) {
                    flex-direction: row;
                }

                .btn {
                    width: 12.5rem;
                    text-align: center;
                    margin-bottom: 0.938rem;
                    @media (min-width: 768px) {
                        margin-right: 0.938rem;
                    }
                }
            }
        }

        img {
            @include flex;
            width: 80%;
            flex: 1;
            order: 1;
            @media (min-width: 768px) {
                width: 30%;
                order: 2;
            }
        }
    }
}
/* Hero end */

/* About us */
.about {
    @include padding;

    img {
        width: 80%;
        @media (min-width: 768px) {
            width: 100%;
        }
    }

    h2 {
        text-align: center;
    }

    .about-container {
        @include container;
        @include center;
    
        .about-content {
            @include flex;
            gap: 1.875rem;
            flex-direction: column;
            @media (min-width: 768px) {
                flex-direction: row;
            }
        }
    }
    
    .about-container-second {
        @include container;
        @include center;
        gap: 1.875rem;
        flex-direction: column;
        @media (min-width: 768px) {
            flex-direction: row;
        }
    }

    .left, .right {
        flex: 1;
    }

    .left {
        @include align-center;
        gap: 0;
        flex-direction: column;
        margin-top: 1.875rem;
    }
}

.about-first,
.about-third {

    .left {
        h3 {
            text-align: center;
        }
    }
    .right {
        @include center;
        @media (min-width: 768px) {
            align-items: left;
        }
    }
}

.about-second {
    .left {
        @include center;
        order: 2;
        @media (min-width: 768px) {
            order: 1;
            text-align: center;
        }
    }

    .right {
        order: 1;
        @media (min-width: 768px) {
            order: 2;
        }

        h3 {
            text-align: center;
        }
    }
}

.about-second,
.about-third {
    p {
        margin-bottom: 1.25rem;
    }
}
/* About us end */

/* Services */
.services {
    @include padding;
    
    .services-container {
        @include container;
        max-width: 900px;

        h2 {
            text-align: center;
        }

        .services-content {
            @include grid;
            max-width: 600px;
            margin: 0 auto;
            grid-template-columns: 1fr;
            gap: 1.875rem;
            row-gap: 3.125rem;
            @media (min-width: 768px) {
                max-width: 100%;
                grid-template-columns: repeat(2, 1fr);
            }
        
            .services-item {
                @include flex;
                position: relative;
                overflow: hidden;
                padding: 1.875rem;
                background: $white;
                box-shadow: 0 10px 30px 0 rgba(0,0,0,0.2);
                transition: $transition;
                cursor: pointer;

                h3 {
                    font-size: $small-font;
                }

                img {
                    @include align-center;
                    width: 15%;
                    position: absolute;
                    left: -10px;
                }

                .right {
                    margin-left: 3.125rem;
                }

                &:hover {
                    transform: translateY(-5px);
                }
            }
        }
    } 
}
/* Services end */

/* Qualities */
.qualities {
    background: $qualities;
    color: $white;
    text-align: center;

    h2, h3 {
        color: $white;
    }

    &-container {
        @include container;
        @include padding;

        .qualities-content {
            @include flex;
            max-width: 600px;
            flex-direction: column;
            margin: 1.875rem auto;
            gap: 1.875rem;
            @media (min-width: 991px) {
                max-width: 100%;
                flex-direction: row;
            }

            .col {
                @include align-center;
                flex-direction: column;
                flex: 1;
                background: $qualities-content;
                padding: 1.875rem;
                border-radius: 15px;
                box-shadow: 0 10px 30px 0 rgba(0,0,0,0.2);
                text-align: center;
                cursor: pointer;
                transition: $transition;

                h3 {
                    margin: 0.938rem 0;
                }

                p {
                    color: $white;
                    margin-bottom: 0.938rem 0;
                }

                &:hover {
                    background: $qualities-hover;
                    transform: scale(1.1);

                    span {
                        border-bottom: 2px solid $white;
                    }
                }

                span {
                    max-width: 100%;
                    margin-top: auto;
                    padding-bottom: 0.313rem;
                }

                img {
                    width: 20%;
                    @media (min-width: 768px) {
                        width: 50%;
                    }
                }
            }
        }

        .analytics {
            @include align-center;
            flex-direction: column;
            justify-content: space-evenly;
            margin-top: 5rem;
            gap: 1.875rem;
            @media (min-width: 768px) {
                flex-direction: row;
            }

            span {
                display: block;
                text-align: center;
            }

            .number {
                font-size: $extra-large-font;
                font-weight: 700;
                margin-bottom: 0.625rem;
            }

            .title {
                font-size: $very-small-font;
            }
        }
    }
}
/* Qualities end */

/* Projects */
.projects {
    @include padding;
    
    h2 {
        text-align: center;
    }

    &-container {
        @include container;

        .projects-content {
            @include grid;
            grid-template-columns: 1fr;
            grid-auto-rows: 7.813rem;
            gap: 0.938rem;
            @media (min-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media (min-width: 991px) {
                grid-template-columns: repeat(3, 1fr);
            }
        }

            .col {
                position: relative;
                cursor: pointer;

                img {
                    @include max;
                    display: block;
                    position: relative;
                    object-fit: cover;
                    border-radius: 15px;
                }

                .bg {
                    @include max;
                    top: 0;
                    position: absolute;
                    border-radius: 15px;
                    transition: $transition;
                }

                .text {
                    @include max;
                    @include center-column;
                    top: 0;
                    position: absolute;
                    opacity: 0;
                    color: $white;
                    transition: $transition;

                    p {
                        color: $white;
                    }

                    p:nth-child(1) {
                        font-size: $small-font;
                        font-weight: 600;
                        margin-bottom: 0.313rem;
                    }
    
                    p:nth-child(2) {
                        margin-bottom: 0.313rem;
                    }

                    .icons {
                        @include flex;
                    }
    
                    i {
                       font-size: $small-font;
                       background: $primary-color;
                       color: $white;
                       padding: 0.625rem;
                       margin: 0 0.313rem;
                       border-radius: 50%;
                       cursor: pointer;
                    }
                }

            &:hover {
                .bg {
                    background: $project-hover;
                }

                .text {
                    opacity: 1;
                }
            }
        }

        .proj-1 {
            grid-row: span 3;
        }

        .proj-2,
        .proj-6,
        .proj-7,
        .proj-8,
        .proj-10 {
            grid-row: span 2;
        }

        .proj-3,
        .proj-4,
        .proj-5,
        .proj-9 {
            grid-row: span 5;
        }

        .proj-11 {
            grid-row: span 4;
        }
    }
}
/* Projects end */

/* Testimonials */
.testimonials {
    @include padding;
    background: $testimonials;

    h2 {
        text-align: center;
    }

    .owl-carousel {
        max-width: 800px;
        margin: 0 auto;
    }

    &-container {
        @include container;

        .testimonials-content {
            @include flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            @media (min-width: 768px) {
                flex-direction: row;
                align-items: flex-start;
                text-align: left;
            }

            img {
                width: 7.5rem !important;
                height: 7.5rem;
                border: 3px solid $white;
                border-radius: 50%;
                margin: 0 0 1.25rem 0;
                @media (min-width: 768px) {
                    margin: 0 1.25rem 0 0;
                }
            }

            h2 {
                font-size: $medium-font;
                color: $black;
                margin: 0 0 0.625rem 0;
                @media (min-width: 768px) {
                    text-align: left;
                }
            }

            h4 {
                font-size: $small-font;
                font-weight: 300;
                color: $grey;
                margin: 0 0 0.625rem 0;
            }

            p {
                font-family: sans-serif;
                font-style: italic;
                font-weight: 300;
                color: $black;
            }
        }
    }
}
/* Testimonials end */