@import '../../styles/variables.scss';

.header {
    width: 100%;
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0 1.5rem;
    background: rgba($dark, 0.9);
    z-index: 1000;
    backdrop-filter: blur(5px);
    transition: 0.5s;

    @media (min-width: 768px) {
        padding: 0 3rem;
    }

    &_menu {
        @media (min-width: 768px) {
            display: none;
        }

        &_toggle {
            position: relative;
            z-index: 10;
            color: $white;
            cursor: pointer;

            &:hover {
                transform: scale(1.05);
            }
        }

        .menu {
            width: 70vw;
            max-width: 400px;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            padding: 3rem;
            z-index: 9;
            background: $dark;
            opacity: 0;
            transform: translateX(100vw);
            transition: 0.3s;
        }

        .show {
            opacity: 1;
            transform: translateX(0vw);
        }
    }
}