:root {
  --white: #ffffff;
  --black: #000000;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--white);
  transition: all 0.5s ease-out;
}

.btn--primary:hover {
  background-color: var(--black);
  color: var(--white);
}

.btn--outline {
  background-color: transparent;
  color: var(--white);
  padding: 10px 20px;
  border: 1px solid var(--white);
  transition: all 0.5s ease-out;
}

.btn--outline:hover {
  background-color: var(--white);
  color: var(--black);
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}
