:root {
    --white: #ffffff;
}

video {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    object-fit: cover;
}

.hero-container {
    /* caso quiser usar imagem -> background: url('images/bg.jpg)
    background-size: cover;
    background-position: center;
    background-repeat: no -repeat;
    */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5);
    object-fit: contain;
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
    color: var(--white);
}

p {
    font-size: 1.5em;
    color: var(--white);
    margin: 10px 0px;
}

.hero-btns .btn {
    margin: 5px;
}

@media (max-width: 960px) {
    h1 {
        font-size: 2em;
    }
}

@media (max-width: 660px) {
    .btn-mobile {
        display: block;
    }

    .btn {
        width: 100%;
    }
}

