@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.header {
    width: 100%;
    height: 60px;
    @include space-between;
    position: fixed;
    padding: 0 1.5rem;
    background: $black;
    z-index: 1000;
    transition: 0.3s;

    &_menu {
        &_toggle {
            position: relative;
            z-index: 10;
            color: $white;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
                transform: scale(1.05);
            }
        }

        .menu {
            width: 80%;
            max-width: 400px;
            height: 100vh;
            @include justify-center;
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            padding: 3rem;
            z-index: 9;
            background: url("../../images/menu.png");
            background-position: right;
            background-size: cover;
            background-repeat: no-repeat;
            transform: translateX(100vw);
            transition: 0.5s ease-in-out;

            @media (max-width: 480px) {
                width: 100%;
            }
        }

        .show {
            opacity: 1;
            transform: translateX(0vw);
        }
    }

    .icon {
        font-size: 2rem;
    }

    .icon_close {
        font-size: 2rem;
        color: $black;
    }
}
